.musc-wrapper {
  padding-top: 15rem;
}
.musc-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.musc-head {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.musc-head .tag {
  color: white;
}
.musc-head .text {
  color: white;
  text-align: center;
  max-width: 65%;
}
.musc-features {
  display: flex;
  gap: 2rem;
}
.musc-feature {
  flex: 1;
  background-color: white;
  box-shadow: var(--shadow);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  border-radius: 1rem;
}
.musc-feature .text {
  text-align: center;
  cursor: pointer;
}
.musc-links {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  /* overflow-x: scroll; */
}
.musc-links h2 {
  padding-right: 10px;
}

.musc-iframe {
  width: 250;
  height: 150;
}
@media (max-width: 990px) {
  .musc-wrapper {
    padding-top: 1rem;
  }
  .musc-head .tag,
  .musc-head .text {
    color: goldenrod;
  }

  .musc-features {
    flex-direction: column;
  }
  .musc-links {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    gap: 25px;
  }
  .musc-links h2 {
    margin-left: -25%;
  }
  .musc-lgOnly {
    display: none;
  }
}
@media (max-width: 590px) {
  .musc-features {
    width: 80%;
    margin: auto;
  }
  .musc-links {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    padding-left: 12.5%;
  }
  .musc-lgOnly {
    display: none;
  }
}
